{% extends 'console/base.html.twig' %}

{% block breadcrumb %}
{{
    breadcrumb([
        {title: 'Console Home', link: path('console_index')},
        {title: 'Authors', link: path('console_author_index'), active: true}
    ])
}}
{% endblock breadcrumb %}

{% block body %}
    <p>
        <a href="{{ path('console_author_create') }}" class="btn btn-success">Create</a>
    </p>

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Operation</th>
        </tr>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>
                    <a href="{{ path('console_author_edit', {'id': author.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
