{% extends 'console/base.html.twig' %}

{% block breadcrumb %}
{{
    breadcrumb([
        {title: 'Console Home', link: path('console_index')},
        {title: 'Tags', link: path('console_tag_index'), active: true}
    ])
}}
{% endblock breadcrumb %}

{% block body %}
    <p>
        <a href="{{ path('console_tag_create') }}" class="btn btn-success">Create</a>
    </p>

    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Alias</th>
            <th>Operation</th>
        </tr>
    {% for tag in tags %}
        <tr>
            <td>{{ tag.id }}</td>
            <td>{{ tag.title }}</td>
            <td>{{ tag.alias }}</td>
            <td>
                <a href="{{ path('console_tag_edit', {'id': tag.id}) }}" class="btn btn-primary">Edit</a>
                <a href="{{ path('tag', {'alias': tag.alias}) }}" class="btn btn-primary btn-sm" target="_blank">
                    Live View
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
